:root {
  --cor-primaria: #f03421;
  --cor-secundaria: #404146;
  --cor-botao-acao: #f03421;
  --cor-fundo-header: #FFFFFF;
  --cor-letra-menu: #404146;
}
#redes-sociais li div {
  background-color: #FFFFFF;
}
#redes-sociais li div a:after {
  color: var(--cor-primaria);
}
